.popup__button {
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin: 19px 0 37px 0;
  border: none;
  padding: 0;
}

.popup__button:hover:enabled {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .popup__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 25px 0;
  }
}
