.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 9px;
}
