.profile__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-left: 46px;
    text-align: center;
  }
}
