.popup__button {
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 19px;
  border: none;
  padding: 0;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .popup__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}
