.header__logo {
  display: block;
  width: 142px;
  height: 33px;
  padding-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .header__logo {
    padding-left: 27px;
    width: 103.7px;
    height: 24.4px;
    padding-bottom: 30.6px;
  }

}
