.elements__like {
  background: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 19px;
  border: none;
  width: 22px;
  height: 19px;
  margin: 22px 0 38px;
  padding: 0;
  cursor: pointer;
}

.elements__like:hover {
  opacity: .5;
}

.elements__like::after {
  content: attr(data-count);
  display: block;
  position: relative;
  top: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
