.header {
  margin: 45px auto 0;
  padding: 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 28px;
    width: 100%;
  }
}
