.popup-image__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  background: url(../../../images/close-icon.svg);
  background-position: center;
  cursor: pointer;
  border: none;
  padding: 0;
}

.popup-image__close-button:hover{
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup-image__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    top: -36px;
    right: 0px;
  }
}
